<ion-content>

  <ion-row class="ion-no-padding" *ngFor="let entry of data; let isFirst = first">
    <!--  Section Title -->
    <ion-col size="9">
      <h2 class="section-header">{{ entry.title }}</h2>
    </ion-col>

    <!-- Horizontal scroll view -->
    <ion-slides [options]="opts">
      <ion-slide *ngFor="let car of entry.cars" tappable (click)="openCar(car)">
        <img [src]="'/assets/images/cars/'+dasherize(car.image)+'.jpg'">
        <span class="title">{{ car.title }}</span>
      </ion-slide>

    </ion-slides>
  </ion-row>

</ion-content>